<!DOCTYPE html>

<html>

<head>
    <title>Grow-Greenn</title>
    <style>
        p{
            font-family: SansSerif;
            font-weight: 35px;
            color: black;
            font-size: 35px;
        }
    </style>
</head>
<a href="{% url 'home'%}" style="font-size: 100px; text-align: center; padding: 20px 20px 20px 20px; margin: 20px; color: green">GrowGreen</a>
<body   style="background-color: honeydew">

<h1 style="alignment: center; color: Pink; font-family: 'Comic Sans MS'; font-size: 50px; font-weight: bolder; width: 1500px;"></h1>
<img src="https://images.perryhomes.com/content/_images/blog/PH_Blog_RosesBloomMore.jpg" alt="Picture of Beautiful roses">
<img src="https://images.ctfassets.net/ucgi79tscdcj/LcxMj9XrUi5SgdFtFVTWF/0329a5f597b89b0a58057f542c607679/purple-roses-600.jpg?w=1280&h=1280&fm=webp&q=75" height="511"> <br>
<a href="https://en.wikipedia.org/wiki/Rose"style="font-family: Georgia; font-size: 75px; alignment: center; font-weight: inherit">Roses</a>

<p>
    You can grow roses organically, but you may want to change how you view roses first. Hybrid Teas, the most famous of the rose classes, should not be your first choice in an organic rose garden because they are often more susceptible to disease and insects. Instead, pick a disease-resistant cultivar and buy the healthiest plant you can find.<br>
    <br>
    More roses chosen for disease resistance are being grown than ever before. Knock Out roses were the first generation, but they’ve been surpassed by newer varieties with even better flower form. Some even have fragrance. Hybridizers realize people no longer have time to spray and are worried about chemicals. However, some organic sprays are also harmful, so it is best to prepare your soil, and to keep rose leaves dry to prevent disease. If disease does come, a certain level of acceptance is also key. Recently, Queen Elizabeth told her gardeners she no longer wanted chemicals sprayed on the roses at Buckingham Palace. Does the queen’s rose garden have blackspot? Probably…so if the queen can withstand a little blackspot in her garden, you can too.<br>

    <br>

    Look for nurseries that offer organic roses first. If you can’t find one, you may need to search online. When choosing these shrubs, look to the following sources for inspiration:<br>
    <br>
</p>
<p>
    Online rose forums<br> <br>
    Botanical gardens or arboretums for information on roses that perform better in your area<br><br>
    Local rose gardens to see which plants are suffering most from blackspot, mildew or rust. Take photos of your findings so you can later research online for specific cultivars<br>
    Rose clubs in your area<br><br>
    Once plants are home, you can do several things to make their transition an easier one. If buying bareroot plants, soak roots for 24 hours in manure tea, compost tea, or other organic, diluted liquid fertilizer before planting. Five gallon buckets work great for this. For plants in containers, water them well before planting.<br>
    <br>
   </p>
    <p>
        Choose a site that is sunny and out of strong winds. Like most blooming plants, roses want at least six hours of sunlight. Growing them in the sun will also limit mildew and blackspot problems.<br>
        <br>
        Being successful at organic gardening all comes down to soil. Before you plant, you should test your soil to see whether it contains more clay or sand, and whether it is acidic or alkaline. Roses want soil with a pH of 6.5. to 6.8, which is fairly neutral. Work plenty of compost, either homemade or purchased, into your soil. You can have a ratio of 60% soil to 40% compost, and your roses will thank you. Compost is the magic bullet that makes organics work. If your soil is especially bad, you can build raised beds by mounding purchased soil with compost already mixed in, or by constructing actual beds out of timber, stones or other materials. Raised beds are great for drainage. Roses do not like wet roots.<br>
     <br>   At planting and at least once a year thereafter, work a good, organic granular fertilizer into the soil. Roses are hungry plants. When buying organic fertilizer, check the bag for information about source ingredients. If you choose manure from a local farm, ask if the grain or plants the animal consumed were sprayed with persistent herbicides. These herbicides remain in an animal’s manure even after being digested and can kill your plants. Some gardeners feed their roses once a month throughout the growing season, but it isn’t necessary if plants are healthy and blooming. Midsummer, you may want to spray an organic liquid fertilizer on plants to give them an extra boost during the hottest part of the year.<br>
     <br>Create an environment where your roses aren’t stressed. Stressed plants release more nitrogen, which attracts insects. Get to know the insects that love roses. In spring, aphids are usually the biggest problem. In the morning, spray infected plants with a strong blast of water to rid them of aphids. This will give leaves time to dry before nightfall. Also, watch out for lady beetles (ladybugs) and be able to identify their larvae, called lions. Lady beetle and lacewing (another beneficial insect) lions are voracious aphid predators. Help them help you by growing other flowers rich in nectar and pollen near your roses like: zinnias, bachelor buttons, borage, cosmos and sunflowers.<br>
     <br>   Have a watering system set up before you plant. This can either be a drip system or soaker hoses. Don’t water roses with overhead sprinklers. They are less efficient, and wet leaves make roses even more prone to disease.<br>
     <br>Mulch roses with organic matter like shredded leaves, aged compost, wood chips, or even fine pine which can be purchased at garden centers. Mulch keeps shallow roots cool and maintains soil moisture.<br>
      <br>  Check roses every day for problems. A small problem is much easier to fix than a large outbreak of insects or disease. Also, maintenance is key. Deadhead roses throughout the season to encourage bloom. Prune plants in early spring to get them off to a good start. Pruning is quite easy. Start with dead canes first and remove them. Then, prune live canes to shape the entire bush so that it is pleasing to the eye. Spray pruners with rubbing alcohol and wipe them down with a clean rag between shrubs to prevent disease. Rose rosette disease is spread by a microscopic mite, but new research shows it can also be spread by not cleaning tools properly.<br>
       <br> Grow roses with other plants. It became traditional to grow roses alone, because it made it easier to spray regularly for insects and disease. An organic garden doesn't need spraying. Also, growing smaller plants at the base of roses hides their naked canes and makes the garden more pleasing to the eye.<br>
        <br>Part of growing roses and any other plants organically means changing your mindset about performance and type. However, the benefits are priceless. Try it and see.<br>
    <br>
</p>


</body>

</html>